<%- include("./partials/header") %>

<div style="text-align: center; color: whitesmoke; margin-bottom: 2rem;">
	<h1 style="font-family: 'Oswald', sans-serif;">How to Vote</h1>
	<h5>Election Day vs. Absentee/Early Voting</h5>
	<h5 style="font-size: .9rem;">Election Day: November 3, 2020</h5>
</div>

<!-- <div class="row text-center" style="display: flex; flex-wrap: wrap; text-align: center; color: whitesmoke; margin-bottom: 2rem;">
	<div class="col">
		<a href="/absenteeballot" class="btn btn-sm btn-dark" style="padding: 10px 20px;">Request your Absentee Ballot</a>
	</div>
</div> -->

<div class="thumbnail" style="padding: 8px 18px;">
	<h3 id="morehelp" style="font-family: 'Oswald', sans-serif; margin-bottom: .7rem; margin-top: .4rem;">Voting on Election Day</h3>

	<u><b>Find Your Polling Location</b></u>
	<br>No, you can't just go anywhere.
	<ul>
		<li>Your polling place is based on your residential address. You have to go to the one you've been assigned, your name won't be on the roster at any other location. <i>You always want to be on the roster!</i></li>
		<li>Polling places are usually schools, community centers, and other public facilities.</li>
		<li>Polling location can change from one election to the next, so check with your state's election office before Election Day.</li>
		<li><a target="_blank" href="https://www.nass.org/can-i-vote/find-your-polling-place">Find your polling place here</a></li>
	</ul>

	<u><b>Voting ID Requirements</b></u>
	<br>Never come empty handed.
	<ul>
		<li>2/3 of states expect you to provide identification if you want to vote at the polls.</li>
		<li>Find out if you need to bring an ID to vote: <a target="_blank" href="https://www.ncsl.org/research/elections-and-campaigns/voter-id.aspx#Laws%20in%20Effect">your state's Voter ID laws</a></li>
		<li>First time voters who didn't register in person or show ID before must show identification.</li>
	</ul>
	<hr>
</div>

<div class="thumbnail" style="padding: 8px 18px;">
	<h3 id="morehelp" style="font-family: 'Oswald', sans-serif; margin-bottom: .7rem; margin-top: .4rem;">Absentee and Early Voting</h3>
	<a class="btn btn-sm btn-dark" style="color: whitesmoke;" href="/absenteeballot">Request Absentee Ballot Here</a>
	<div><u><b>Absentee or Mail-In Voting</b></u></div>
	<ul>
		<li><b class="lessbold">You can't vote online</b> for federal elections in the US. The only way you can vote without going in person to a polling place is to use an absentee ballot. Sorry hackers.</li>
		<li>Don't be late. Know your state's <a target="_blank" href="https://www.vote.org/absentee-ballot-deadlines/">absentee ballot deadlines</a>. *Some are <i>postmarked</i> deadlines while others are <i>received</i> deadlines, read carefully!</li>
		<li>Every state has mail-in voting, but some allow you to take part only in certain circumstances.
			<ul>
				<li>Some states require an excuse for voting by mail. Reasons can include: 
					<span style="font-size: .85rem;">
						<br>- Being unable to get to your polling place due to illness, injury, or disability <br>- Being on business travel/vaction outside of your county or city of residence on Election Day <br>- Being a student at an out-of-state college or univeristy
					</span></li>
				<li>One upside to COVID, some states are giving all voters an excuse to vote by mail for certain elections. Because of the pandemic, your state may automatically send you an absentee ballot or a form to fill out to request one.</li>
				<li>Check out this <a target="_blank" href="https://www.ncsl.org/research/elections-and-campaigns/absentee-and-mail-voting-policies-in-effect-for-the-2020-election.aspx">handy dandy chart</a> that shows absentee voting changes by state.</li>
			</ul>
		</li>
	</ul>

	<u><b>Early Voting</b></u>
	<ul>
		<li>Most states have early voting. If you're registered, you can vote on certain days before Election Day.</li>
		<li>You don't need an excuse to vote early.</li>
		<li>This <a target="_blank" href="https://www.ncsl.org/research/elections-and-campaigns/early-voting-in-state-elections.aspx#Early%20Voting%20Law%20Table">early voting chart</a> shows time frames for states that offer early voting. Let's do the dang thing!</li>
	</ul>
	<hr>
</div>

<%- include("./partials/footer") %>