<%- include("./partials/header") %>

<div class="thumbnail" style="padding: 8px 18px;">
	<h3 style="font-family: 'Oswald', sans-serif; margin-bottom: .7rem; margin-top: .4rem;">IDK! I need more help.</h3>
	<strong>Here are some important resources:</strong>
	<ul>
		<li>Don't know who to vote for? Decide for yourself: 
			<ul>
				<li><a target="_blank" href="https://2020election.procon.org/view.source-summary-chart.php">2020 Presidential Candidate Comparison</a></li>
				<li><a target="_blank" href="https://www.investopedia.com/comparing-the-economic-plans-of-trump-and-biden-4843240">Comparing the Economic Plans of Trump and Biden</a></li>
				<li><a target="_blank" href="https://itif.org/publications/2020/09/28/trump-vs-biden-comparing-candidates-positions-technology-and-innovation">Trump vs. Biden: Comparing the Candidates’ Positions on Technology and Innovation</a></li>
				<li><a target="_blank" href="https://educationvotes.nea.org/presidential-2020/biden-vs-trump/">Trump vs. Biden on Public Education</a></li>
			</ul>
		</li>
		<li>Info on registering, voting, and more at <a target="_blank" href="https://www.vote.org/">vote.org</a> and <a target="_blank" href="https://iwillvote.com/">iwillvote.com</a></li>
		<li><a target="_blank" href="https://iamavoter.com/">iamavoter.com</a> or check out their Instagram: <a target="_blank" href="https://www.instagram.com/iamavoter/?hl=en">@iamavoter</a></li>
	</ul>
</div>

<div class="thumbnail" style="padding: 8px 18px;">
	<h3 style="font-family: 'Oswald', sans-serif; margin-bottom: 1rem; margin-top: .4rem;">Don't be dumb! Mistakes that can disqualify your mail/absentee ballot:</h3>
	<p>
		<strong>1. Improperly filling out your ballot</strong> (ex: using the wrong color ink). You're reading this sentence so I know you can read- go through the instructions on the ballot carefully.<br>
		<strong>2. Forgetting to sign your envelope.</strong> This is the most common reason for a rejected application or ballot. Don't be that person, you're better than that.<br>
		<strong>3. Using a different signature than your state has on file.</strong> If you've gotten lazy and your signature is now an illegible scribble, that's fine. Just make sure it matches the scribble you put on your voter registration. Not sure which sig you used? You can update your signature on file with your local elections office by submitting a new paper voter registration form or on your paper mail-ballot application.<br>
		<strong>4. Not including required documentation.</strong> Some states make you take that extra annoying step, like having a signature from a witness. Check out <a target="_blank" href="https://www.voteriders.org/">VoteRiders</a> to see your state's In-Person and Mail voter ID rules. Super easy, I belive in you.<br>
		<strong>5. Sending your ballot back too late.</strong> Another common reason why mail ballots are rejected is because they're too late or lack a postmark. Fashionably late doesn't apply in this case. Unfortunately if you're late to this party you're stupid, not cool. Be smart and check your state's mail-in ballot deadlines <a target="_blank" href="https://time.com/5889969/how-to-vote-by-mail/">in this article</a>.
	</p>
</div>

<div class="thumbnail" style="padding: 8px 18px;">
	<h3 style="font-family: 'Oswald', sans-serif; margin-bottom: 1rem; margin-top: .4rem;">Think your vote doesn't matter? Too lazy? Think again, you silly goose.<br>Here are some close races from recent years:</h3>
	<ul>
		<li><strong>2018: </strong>Democratic primary for Baltimore County executive was decided by just 17 votes.</li>
		<li><strong>2017: </strong>Virginia House of Delegates race ended in a tie out of more than 23,000 votes. The tie was broken by pulling a name out of a bowl (this is sadly not a joke). Republican David Yancey won, which gave Republicans control of the state House by a single seat.</li>
		<li><strong>2016: </strong>A Wyomning state House GOP primary was decided by just one vote. It was 583 to 582.</li>
	</ul>
	<p style="font-size: .8rem;">
		I could list more, but you don't care. Bottom line is your vote matters, whether it's at the local, state, or national level. Go out and vote, then at least you can say you did something. If you do care though, here's the article: <a target="_blank" href="https://www.npr.org/2018/11/03/663709392/why-every-vote-matters-the-elections-decided-by-a-single-vote-or-a-little-more">Why Every Vote Matters</a><em> (shoutout to NPR for all info listed above)</em>.
	</p>
</div>


<%- include("./partials/footer") %>