@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.navbar {
	margin-bottom: 1.5rem;
}

body {
	/* font-family: 'Playfair Display', serif; */
	/* background-color: #ffffd8; */
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-family: 'Titillium Web', sans-serif;
	background-color: rgb(0, 0, 0);
 }

.navbar-brand{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
}
.nav-link{
	font-family: 'Oswald', sans-serif;
	font-size: 1.08rem;
}

h1 {
	font-family: 'Oswald', sans-serif;
	margin-top: .8rem;
}

.nav-item{
	text-align: center;
}

.jumbotron{
	margin-top: 30px;
	/* background-color: #f4e2b4; */
	background-color: whitesmoke;
	padding: 1rem 1rem;
}

#demo{
	font-size: xx-large;
	margin: auto;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}

#countdown{
	text-align: center;
	border-radius: 1em;
	border:1px solid black;
	margin: 0 auto;
	width: 50%;
	padding: 5px;
}

.thumbnail{
	border: .5px solid rgba(111, 111, 111, 0.536);
	border-radius: .5em;
	background-color: whitesmoke;
	padding: 8px 15px;
	margin-bottom: 20px;
}

.btn {
	white-space:normal !important;
	word-wrap: break-word;
	margin-bottom: 1rem;
}

.lessbold{
	font-weight: 600;
}


/* for mobile screen size, was normally max width 500 */
@media only screen and (max-width: 770px){
	#countdown{
		width: 80%;
	}
}